body {
    background: black;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

div#render {
}

div#gameLogContainer {
    background: #101010;
    position: absolute;
    bottom: 0;
    width: 70vw;
    height: 12vh;
    overflow: hidden;
}

div#gameLog {
    height: 100%;
    overflow-y: scroll;
    margin-right: -50px;
    padding-right: 50px;
}

div#gameLog > span {
    font-family: monospace;
}