<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Autochthon</title>
  <link rel="stylesheet" href="{{ static_url("css/view.css") }}">
  <script src="{{ static_url("js/pixi.js") }}" type="text/javascript"></script>
  <script src="{{ static_url("js/pixi-viewport.min.js") }}" type="text/javascript"></script>
</head>
<body>
<div id="gameContainer">
  <div id="render"></div>
  <div id="gameLogContainer"><div id="gameLog"></div></div>
</div>
<div id="gameLogModal" class="modal">
  <div id="gameLogModalContent" class="modal-content"></div>
</div>
<script src="{{ static_url("js/view.js") }}" type="text/javascript"></script>
</body>
</html>
